@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Rubik", sans-serif;
}

.text-article {
  text-align: center;
  font-size: x-small;
  color: #969696;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 5px;
  letter-spacing: 0.2em;
}

.prop-article {
  font-weight: 500;
  font-size: 21px;
  text-align: center;
  margin-bottom: 14px;
}

@media (min-width: 1024px) {
  .prop-article {
    margin-bottom: 5px;
    text-align: center;
  }
  .div-article1 {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    width: 25%;
  }
  .div-article {
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    border-left: 1px #969696 solid;
    width: 25%;
  }
  .text-article {
    text-align: center;
    padding-left: 2px;
  }
}
